
.passport-icon {
  background-image: url('http://a.amap.com/lbs-p/static/img/sprite.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .passport-icon {
    background-image: url('http://a.amap.com/lbs-p/static/img/sprite@2x.png');
    background-size: 246px 869px;
  }
}

.passport-icon-normal {
  background-position: -0px -0px;
  width: 16px;
  height: 16px;
}
.passport-icon-error {
  background-position: -0px -16px;
  width: 16px;
  height: 16px;
}
.passport-icon-closed_nor {
  background-position: -0px -32px;
  width: 17px;
  height: 17px;
}
.passport-icon-closed_hover {
  background-position: -0px -49px;
  width: 17px;
  height: 17px;
}
.passport-icon-unchecked {
  background-position: -0px -66px;
  width: 18px;
  height: 18px;
}
.passport-icon-checked {
  background-position: -0px -84px;
  width: 18px;
  height: 18px;
}
.passport-icon-verify_icon_nor {
  background-position: -0px -102px;
  width: 20px;
  height: 20px;
}
.passport-icon-verify_icon_pass {
  background-position: -0px -122px;
  width: 20px;
  height: 20px;
}
.passport-icon-user {
  background-position: -0px -142px;
  width: 20px;
  height: 20px;
}
.passport-icon-password {
  background-position: -0px -162px;
  width: 20px;
  height: 22px;
}
.passport-icon-phone {
  background-position: -0px -184px;
  width: 20px;
  height: 24px;
}
.passport-icon-sina_hover {
  background-position: -0px -208px;
  width: 28px;
  height: 28px;
}
.passport-icon-sina_nor {
  background-position: -0px -236px;
  width: 28px;
  height: 28px;
}
.passport-icon-taobao_hover {
  background-position: -0px -264px;
  width: 28px;
  height: 28px;
}
.passport-icon-taobao_nor {
  background-position: -0px -292px;
  width: 28px;
  height: 28px;
}
.passport-icon-qq_hover {
  background-position: -0px -320px;
  width: 28px;
  height: 28px;
}
.passport-icon-qq_nor {
  background-position: -0px -348px;
  width: 28px;
  height: 28px;
}
.passport-icon-logo {
  background-position: -0px -376px;
  width: 75px;
  height: 75px;
}
.passport-icon-bg {
  background-position: -0px -451px;
  width: 246px;
  height: 418px;
}
